
nav {
    background-color: #000000; 
    overflow: hidden;
    padding: 10px;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 12px; 
    transition: background-color 0.3s ease; 
}


nav li a:hover {
    background-color: #808080;
    text-decoration: underline;
    text-decoration-color: #00eaff; 
}


nav li a.active {
    background-color: #4CAF50; 
}


h1, h2 {
    text-align: center;
}


p {
    text-align: center;
}


body::after {
    content: "";
    display: block;
    background-color: #A9A9A9;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px; 
}