

@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


body {
    font-family: 'Radio Canada Big', sans-serif;
}

body {
    font-family: 'Source Code Pro', sans-serif;
}




nav {
    background-color: #000000; 
    overflow: hidden;
    padding: 10px;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 12px; 
    transition: background-color 0.3s ease; 
}


nav li a:hover {
    background-color: #808080;
    text-decoration: underline;
    text-decoration-color: #00d5e4; 
}


nav li a.active {
    background-color: #4CAF50; 
}


nav li a:hover::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #00d5e4; 
    position: absolute;
    bottom: 0;
}


.section {
    padding: 20px;
    text-align: center;
}

.section:nth-child(3n+1) {
    background-color: #00d5e4; 
    color: #FFFFFF; 
}

.section:nth-child(3n+2) {
    background-color: #000000; 
    color: #000000; 
}

.section:nth-child(3n) {
    background-color: #FFFFFF; 
    color: #000000;
}

h1, h2 {
    text-align: center;
}


p {
    text-align: left;
}


body {
    font-family: 'Code Pro', sans-serif;
}


body::after {
    content: "";
    display: block;
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px; 
}

.main-button-white {
    background-color: #ffffff; 
    color: #000000; 
    border: none;
    padding: 15px 30px;
    text-emphasis: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold; 
    font-style: italic; 
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px; 
    transition: background-color 0.3s ease; 
}

.main-button-white:hover {
    background-color: #008fb3; 
}


.main-button-blue {
    background-color: #00c0cd; 
    color: #FFFFFF; 
    border: none;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold; 
    font-style: italic; 
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px; 
    transition: background-color 0.3s ease; 
}

.main-button-blue:hover {
    background-color: #1d373d; 
}



.blog-buttons a{
    
    background-color: #00c0cd;
    padding: 20px 40px; 
    font-size: 20px;
    font-weight: bold; 
    border: 3px solid #002929;
    display: flex;
    justify-content: space-between;
    gap: 10px; 
}




.home-image-container {
    position: relative;
    width: 100%;
    height: 450px; 
    overflow: hidden;
}

.home-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85); 
}



.text-over-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF; 
}

.text-over-image h1,
.text-over-image p {
    margin: 0;

}


.slide-up {
    transform: translateY(20px);
    visibility: hidden;
    animation: slideUp 0.5s ease forwards;
    animation-delay: calc(.1s * var(--i));
}

@keyframes slideUp {
    100% {
        transform: translateY(0);
        visibility: visible;
    }
}